.item {
  display: flex;
  align-items: center;
}

.link {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s opacity linear;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.icon {
  fill: var(--inverted-secondary-color);
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.3s opacity linear;
    width: 0;
    margin-left: 0;
  }
}
