:root {
  --bg-color: linear-gradient(
                  90deg,
                  #f7f7f7 0%,
                  rgba(247, 247, 247, 0) 100%
  );
  --primary-color: #1c1c1c;
  --secondary-color: #585757;
}