:root {
    --bg-color: #f7f7f7;
    --inverted-bg-color: #1c1c1c;
    --primary-color: #1c1c1c;
    --inverted-primary-color: #e8e8e8;
    --secondary-color: #585757;
  --inverted-secondary-color: #585757;
}
